---
import { Image } from "astro:assets"
import Tags from "./Tags.astro"

interface Props {
  url?: string
  alt?: string
  title?: string
  tags: string[]
  children?: HTMLElement | HTMLElement[]
  image: string
  desc: string
  github: string
}

const {
  image = "",
  url = "#",
  alt = "Project image",
  title = "Project title",
  tags = ["Tags"],
  desc = "Project description",
  github = "#",
} = Astro.props
---

<section class="w-96 p-4">
  <article
    class="rounded-sm bg-white duration-100 hover:scale-[1.02] hover:transform mb-10"
  >
    <a
      href={url}
      aria-label="link to project"
      class="flex flex-col items-center"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="relative flex items-end overflow-hidden rounded-sm">
        <Image
          src={image}
          alt={alt}
          format="png"
          width={400}
          height={400}
          loading="eager"
          class="h-64 bg-cover"
        />
      </div>
      <div class="mt-1 px-5 pt-2 w-full flex flex-col h-48">
        <h3 class="text-xl text-black lg:text-2xl">{title}</h3>
        <p class="text-black py-2 text-md flex-1">{desc}</p>
        <Tags tags={tags} />
      </div>
    </a>
  </article>
  <a
    href={github}
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-row hover:underline items-center"
    aria-label="link to GitHub repository"
  >
    GitHub repo
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="moveable-arrow ml-1 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
    </svg>
  </a>
</section>
