---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

const skills = await getCollection("skills")
---

<section class="mb-10 flex flex-col items-center justify-center px-3">
  <h2 class="moveable-title text-2xl text-yellow-600 font-semibold lg:text-4xl">
    Tech stack
  </h2>
  <span class="mb-10 h-1 w-3/4 bg-yellow-500 mt-1"></span>

  <table class="mx-auto mb-10 w-auto max-custom:hidden">
    <tr class="text-center">
      {
        skills.map((skill) => (
          <td class="px-4 mx-auto">
            <Image
              src={skill.data.image}
              alt="icon of a tech skill"
              class="mx-auto"
            />
          </td>
        ))
      }
    </tr>
    <tr class="text-center">
      {skills.map((skill) => <td class="px-4">{skill.data.title}</td>)}
    </tr>
  </table>

  <table class="mx-auto mb-10 w-auto custom:hidden text-sm">
    <tr class="text-center">
      {
        skills.map((skill, index) => {
          if (index < 4) {
            return (
              <td class="px-2 mx-auto">
                <Image
                  src={skill.data.image}
                  alt="icon of a tech skill"
                  class="mx-auto"
                />
              </td>
            )
          }
        })
      }
    </tr>
    <tr class="text-center">
      {
        skills.map((skill, index) => {
          if (index < 4) {
            return <td class="px-2">{skill.data.title}</td>
          }
        })
      }
    </tr>
    <tr class="text-center">
      {
        skills.map((skill, index) => {
          if (index > 3) {
            return (
              <td class="px-2 mx-auto">
                <Image
                  src={skill.data.image}
                  alt="icon of a tech skill"
                  class="mx-auto"
                />
              </td>
            )
          }
        })
      }
    </tr>
    <tr class="text-center">
      {
        skills.map((skill, index) => {
          if (index > 3) {
            return <td class="px-2">{skill.data.title}</td>
          }
        })
      }
    </tr>
  </table>
</section>

<style>
  .moveable-arrow {
    transition: transform 0.5s ease-out;
  }

  .moveable-arrow:hover {
    transform: translateX(20px);
  }

  .moveable-text {
    transition: transform 0.5s ease-out;
  }

  .moveable-text:hover {
    transform: translateY(-5px);
  }

  .moveable-title {
    transition: transform 0.5s ease-out;
  }

  .moveable-title:hover {
    transform: translateY(-5px);
  }
</style>
